---
apiVersion: v1
kind: Service
metadata:
  name: cloudlab4
  labels:
    app: cloudlab4
  annotations:
    auth.istio.io/3001: NONE
spec:
  ports:
  - name: http
    port: 3001
  selector:
    app: cloudlab4

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cloudlab4
  labels:
    app: cloudlab4
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: cloudlab4
    spec:
      containers:
        - name: cloudlab4
          image: kenlomax/mapit-cloudlab4:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001

---

apiVersion: gateway.kyma-project.io/v1alpha2
kind: Api
metadata:
  labels:
    app: cloudlab4
  name: cloudlab4
spec:
  hostname: cloudlab4
  service:
    name: cloudlab4
    port: 3000
